.avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
    margin-right: 25px;
    object-fit: cover;
}
.description-holder {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.profile-name {
    display: block;
    font-size: 30px;
    font-weight: bold;
}
.profile-status {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.profile-status-input {
    margin: 10px 0;
}
.photo-holder {
    position: relative;
}
.add-photo {
    display: block;
    opacity: 0;
    width: 0;
    position: absolute;
}
.add-photo + label {
    position: absolute;
    display: block;
    background: black;
    color: #fff;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    bottom: -45px;
}
.add-photo + label:hover {
    cursor: pointer;
    background: #fff;
    color: black;
}
.profile-info-list {
    margin-top: 30px;
    background: rgba(255,255,255,0.5);
    padding: 20px;
}
.profile-info-list .profile-info-list__elem {
    border-bottom: 1px solid #000;
    padding: 20px;
}
.profile-info-list .profile-info-list__elem:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.profile-info-list .profile-info-list__elem:first-child {
    margin-top: 0;
}
.contacts-list {
    padding: 5px 25px;
}
.contacts-box {
    padding: 5px 0;
}
.profile-info-list .profile-info-list__elem input,
.profile-info-list .profile-info-list__elem textarea {
    width: 250px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #000;
    padding: 0 20px;
    font-size: 16px;;
}
.profile-info-list .profile-info-list__elem textarea {
    height: 200px;
    padding: 15px 20px;
    resize: none;
}
.profile-info-list__elem b {
    width: 100%;
    display: block;
    margin: 0 0 10px;
}
.profile-info-list__elem .contacts-box b {
    width: auto;
    margin: 0 10px 0 0;
    display: inline-block;
}
.profile-info-list__elem.flex-center-y b {
    width: auto;
    display: block;
    margin: 0 10px 0 0;
}
.profile-btn {
    display: block;
    background: #636b9b;
    color: #fff;
    border-radius: 15px;
    width: 150px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #fff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
}
.contacts-col {
    padding: 15px 0;
    width: 25%;
}
.title-sm {
    font-size: 14px;
}
.summary-error {
    color: red;
    font-weight: bold;
    display: block;
    width: 100%;
    border: 1px solid red;
    padding: 5px;
    margin: 10px 0;
    text-shadow: 1px 1px #000;
}